body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f9;
    color: #333;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 8px;
}

h1 {
    font-size: 2.5em;
    font-weight: bold;
    color: #007bff;
    text-align: center;
    margin: 20px 0;
}

p {
    font-size: 1.2em;
    font-weight: bold;
    margin: 30px 0; 
    font-style: italic;
}

#id_username {
    font-family: 'Arial', sans-serif;
    font-size: 1.2em;
    font-weight: bold;
    color: #007bff;
}

#id_alert {
    margin: 20px 0; 
}

.logout-container {
    text-align: right;
    padding: 20px; 
}

.logout-container a {
    text-decoration: none;
    color: #007bff;
    font-size: 1.2em;
}

th {
    font-family: 'Verdana', sans-serif;
    color: #007bff;
    font-size: 1.2em;
}

.table-container {
    margin: 20px;
    border-collapse: collapse;
    width: 100%;
}

table {
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
}

td, th {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

tr:hover {
    background-color: #f1f1f1;
}

#create-group-form {
	background-color: #b3e0ff; 
    border-radius: 5px; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border: 1px solid #ddd;
    padding: 20px;
    max-width: 600px;
   
}

#create-group-form fieldset {
    border: none;
    padding: 0;
    margin: 0;
}

#create-group-form legend {
    font-weight: bold;
    font-size: 1.2em;
    margin-bottom: 10px;
    color: #007bff;
}

#create-group-form p {
	font-weight: normal;
    display: flex;
    align-items: center;
    margin: 15px 0;
    width: 100%;
}

#create-group-form label {
    font-size: 1em;
    font-weight: 600;
    margin-right: 10px;
    color: #333;
}

#create-group-form input[type="text"],
#create-group-form input[type="number"] {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    margin-left: 10px;
}

#create-group-form input[type="button"] {
   background-color: #0056b3;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#create-group-form input[type="button"]:hover {
    background-color: #003d7a;
}

.alertmessage, .alert {
    color: #d9534f;
    text-align: center;
    font-weight: bold;
    margin: 10px 0;
}
#id_creategroupbutton {
	 background-color: #0056b3;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
#id_creategroupbutton:hover {
	 background-color: #003d7a;
}
#id_details h2,
#id_details h3 {
    font-weight: normal; 
}
