<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="ISO-8859-1">
	<title>Anagrafica</title>
	<link rel="stylesheet" type="text/css" href="css/home.css">
</head>

<body>
	<div align="right">
		<a th:href="@{/Home}">Cancel</a>
	</div>
	
	<h1>Who's Invited?</h1>
	<form action="#" th:action="@{/CheckInvited}" method="POST">
		<table th:remove="all-but-first">
		  <tr th:each="user : ${users}">
		    <td><input type="checkbox" name="checkedUserIds" th:value="${user.id}" th:checked="${checkedUsers != null && #lists.contains(checkedUsers, user.id)}"></td>
		    <td th:text="${user.name} + ' ' + ${user.surname}">Maria Anders</td>
		  </tr>
		  <tr>
		    <td><input type="checkbox"></td>
		    <td>Francisco Chang</td>
		  </tr>
		</table>
		<br>
		<input class="submit-button" type="submit" value="Invite">
	</form>
	
	<p th:text="${errorMsg}"></p>
</body>

</html>